
body
{
	background:#ffffff;
}
header
{
	border: 20px solid #e1f7d5;
	box-sizing: border-box;
	height: 400px;
	background-image: url("images/horizons.JPG");
	background-size:cover;
	background-position: center;
}
.title
{
	color: #c9c9ff;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 50px;
	text-align: center;

}
.horizons
{
	border: 10px solid #bbbbbb;
	width: 450px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.bio
{
	color: #ffc100;
	font-family:'Pangolin', cursive;
	font-size: 15px;
	text-align: left;
}
.contact_info
{
	border: 10px solid #bbbbbb;
	margin-left: auto;
	background-color: #bcfffd;
	text-align: right;
	width: 50%;

}
.text_box
{
	width: 251px;
	height: 41px;
	display: inline-block;
	text-align: center;
}
.aside
{
	color:purple;
	text-align: left;
}

.decisions
{
	width: 600px;
	height: 400px;
	display:center;
}
