
body
{
	background:#d8d8d8;
}
header
{
	border: 20px solid #FFFF7F;
	box-sizing: border-box;
	height: 400px;
	background-image: url("images/horizons.JPG");
	background-size:cover;
	background-position: center;
}
.title
{
	color: turquoise;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 50px;
	text-align: center;

}
.horizons
{
	border: 20px solid #bbbbbb;
	width: 40px;
	height: 40px;
	position: relative;
	top: 17px;
	display: ;
}

.bio
{
	color: #ffc100;
	font-family:'Pangolin', cursive;
	font-size: 15px;
	text-align: left;
}
.aside
{
	color:purple;
	text-align: left;
}

.decisions
{
	width: 600px;
	height: 400px;
	display:center;
}
.text_box
{
	width: 251px;
	height: 41px;
	display: inline-block;
}