
body
{
	background:#d8d8d8;
}
.nav
{
	width: 200px;
	height: 400px;
	display: center;
	border: 10px solid #dddddd;
}

.bio
{
	color: #ffc100;
	font-family:'Pangolin', cursive;
	font-size: 15px;
	text-align: left;
}
.title
{
	color: turquoise;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 18;
}
.aside
{
	color:purple;
	text-align: left;
}

.decisions
{
	width: 600px;
	height: 400px;
	display:center;
}
